* {
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, sans-serif;
    font-weight:100;
}
html, body {
    height: 100%;
}

/* PAGE STRUCTURE */
#content {
    min-width: 950px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    overflow: hidden;
}
#header {
    position: relative;
    height: 80px;
    width: 100%;
    min-width: 950px;
    /*background-color: #F6EFBB;*/
    z-index: 100;
}
#map {
    position:absolute;
    float: left;
    top:80px;
    left: 300px;
    width: calc(100% - 300px);
    min-width: 650px;
    height: calc(100% - 110px);
    background-color: #fff;
    z-index: 0;
}
/*#map.big {
    position:absolute;
    float: left;
    top:80px;
    left: 0px;
    width: 100%;
    height: calc(100% - 110px);
    background-color: #fff;
    z-index: 0;
}*/
#footer {
    clear: both;
    position: absolute;
    z-index: 10;
    height: 30px;
    width: 100%;
    min-width: 950px;
    background-color: #EDEDED;
    bottom: 0px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    overflow-x: hidden;
}
/* HEADER */
#h_info {
    position:relative;
    height: 50px;
    width: 100%;
    background-color: #F6EFBB;
    float: left;
    overflow-x: hidden;
}
#h_controls {
    position:absolute;
    min-width: 950px;
    height: 30px;
    width: 100%;
    top: 50px;
    padding-left: 300px;
    border: 1px solid;
    float: left;
    z-index: 200;
}
/*#navbar {
    position: absolute;
    background-color: red;
    left:300px;
    width: 400px;
    height: 60px;
    float: left;
    z-index: 1500;
}*/

.gp_logo {
    float: left;
    width: 500px;
    height: 50px;
    background-image: url('img/GeoPod.png');
}
.gp_client_text {
    float: right;
    width: auto;
    height: 50px;
    padding-right: 10px;
}
.gp_client_img {
    float: right;
    padding-right: 10px;
    height: 45px;
    width: auto;
    max-width: 100px;
}

/* LAYER SWITCHER */
#layercontrol {
    float: left;
    position:absolute;
    bottom:0px;
    left: 0px;
    width: 300px;
    height: calc(100% - 52px);
    z-index: 1000;
    border: 1px solid;
    background-color: #fff;
    opacity: 1;
    overflow: hidden;

    /*border-top-right-radius: 10px;;*/
    /*    padding-bottom: 50px;*/
}
#layerslist {
    float: left;
    position:absolute;
    width: 300px;
    height: auto;
    background-color: #fff;
    opacity:0.8;
    z-index: 1100;
    margin-top: 30px;
    left:0;
    overflow-x: hidden;
}

ul.dynatree-container {
    border:0px !important;
}

#base-maps {
    padding-top: 10px;
}
#base-maps .dynatree-has-children .dynatree-icon {
    background-image: url('../img/tree/map.png');
    height: 32px;
    width: 32px;
    background-position: 0 0px;
}
#over-layers {
    padding-top: 10px;
}
#over-layers .dynatree-has-children .dynatree-icon {
    background-image: url('../img/tree/layers_map.png');
    height: 32px;
    width: 32px;
    background-position: 0 0px;
}

#hideshow.minus {
    background-image: url('../img/minus_alt.png');
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: right;
    height: 28px;
    width: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    cursor: pointer;
}
#hideshow.plus {
    background-image: url('../img/plus_alt.png');
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: right;
    height: 30px;
    width: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    cursor: pointer;
}

#mouse-position {
    position: absolute;
    padding-top: 1px;
    padding-left: 5px;
    width: auto;
    height: 30px;
    left: 300px;
}
#output {
    position: absolute;
    padding-top: 1px;
    padding-left: 5px;
    width: auto;
    height: 30px;
    left: 700px;
}

#message {
    z-index: 9999;
    left: 50%;
    top:50%;
    width: 300px;
    height: 50px;
    position: absolute;
    background-color: #0f0;
}
